<form action="/students/<%= @student.id %>" method="post">
  <label for="first-name">First Name: </label>
  <input id="first-name" type="text" name="first_name" value="<%= @student.first_name%>">
  <br>
  <label for="last-name">Last Name: </label>
  <input id="last-name" type="text" name="last_name" value="<%= @student.last_name%>">
  <br>
  <label for="age">Age: </label>
  <input id="age" type="number" name="age" value="<%= @student.age %>">

  <br>
  <label for="house">House: </label>
  <input id="house" type="number" name="house_id" value="<%= @student.house_id %>">

  <br>
  <input type="submit" value="Update Student">


</form>
